<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/homestyle.css">
    <link rel="stylesheet" href="/css/loginstyle.css">
    <script src="/js/logjs.js"></script>
</head>
<body class="body">
        <nav class="navbar navbar-expand-sm  navbar-dark" style="background-color: rgb(16, 1, 100);">
                <ul class="navbar-nav">
                  <li class="nav-item active">
                    <a class="nav-link" href="index.html">HOME</a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" href="login.html">LOGIN</a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" href="signup.html">SIGN UP</a>
                  </li>
                </ul>
              </nav>
        
         <div class="title library">
            <h1>Login</h1>
        </div>
        <div class="jumbotron content">
           <form class="was-validated email login" onsubmit= "return validate(this)" >
             <label for="text" class="login">Username:</label>
             <br>
             <input type="text" placeholder="Enter user name" class="username" name="email" id="email" required>
             <br>
             <label for="text" class="login">Password:</label>
             <br>
             <input type="text" placeholder="Enter password" name="password" required>
             <br>
             <button>Submit</button>
           </form>
        </div>
</body>
</html>